<a href="https://colab.research.google.com/github/shauryaraj9/PBEL/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

Pandas is an open-source Python library widely used for data manipulation and analysis. It provides high-performance, easy-to-use data structures and data analysis tools, making it a fundamental component of the data science ecosystem in Python.
Key Features and Concepts:
Data Structures:
Pandas introduces two primary data structures:
Series: A one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). It can be thought of as a single column in a spreadsheet.
DataFrame: A two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, with rows and columns.

In [ ]:
import pandas as pd

# Series: 1D labeled array
print(pd.Series([1, 2, 3, 4]))

# DataFrame: 2D table (rows x columns)
dict1 = {"name": ["shaurya", "rahul", "ram"], "id": [1, 2, 3]}
a = pd.DataFrame(dict1)
print(a)

0    1
1    2
2    3
3    4
dtype: int64
      name  id
0  shaurya   1
1    rahul   2
2      ram   3

In [ ]:
import pandas as pd

dict1 = {"name": ["shaurya", "rahul", "ram"], "id": [1, 2, 3]}
df = pd.DataFrame(dict1)
print(df)

      name  id
0  shaurya   1
1    rahul   2
2      ram   3

In [ ]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.2.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2025.7.14)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/shivamb/netflix-shows")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: shauryaraj09
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
Downloading netflix-shows.zip to ./netflix-shows

100%|██████████| 1.34M/1.34M [00:00<00:00, 419MB/s]

In [ ]:
df=pd.read_csv("netflix-shows/netflix_titles.csv")
df.sample()#random row

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6949,s6950,Movie,Heartbreakers,David Mirkin,"Sigourney Weaver, Jennifer Love Hewitt, Ray Li...",United States,"December 31, 2019",2001,PG-13,124 min,"Comedies, Romantic Movies","In this stylish comedy, a mother-daughter con ..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
(df.isnull().sum()/len(df))*100

show_id         0.0
type            0.0
title           0.0
director        0.0
cast            0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in       0.0
description     0.0
dtype: float64

In [ ]:
df=df.drop("director",axis=1,inplace=True)

In [ ]:
df.columns

Index(['show_id', 'type', 'title', 'cast', 'country', 'release_year', 'rating',
       'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
df[df["show_id"].isnull()]

Empty DataFrame
Columns: [show_id, type, title, cast, country, release_year, rating, duration, listed_in, description]
Index: []

In [ ]:
df["show_id"].fillna("India")

7          s8
8          s9
9         s10
12        s13
24        s25
        ...
8801    s8802
8802    s8803
8804    s8805
8805    s8806
8806    s8807
Name: show_id, Length: 5332, dtype: object

In [ ]:
id_value=[1,2,3,4]

In [ ]:
df.isnull().sum()

show_id         0
type            0
title           0
cast            0
country         0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [ ]:
df["cast"].value_counts()

cast
Samuel West                                                                                                                                                                   10
Jeff Dunham                                                                                                                                                                    7
Kevin Hart                                                                                                                                                                     6
Jim Gaffigan                                                                                                                                                                   5
Bill Burr                                                                                                                                                                      5
                                                                                                                                                                              ..
Scarlett Johansson, Adam Driver, Laura Dern, Alan Alda, Ray Liotta, Julie Hagerty, Merritt Wever, Azhy Robertson                                                               1
Chigul, Patrick Diabuah, Adetomiwa Edun, Uche Jumbo, Saidi Balogun, Ali Nuhu, Bimbo Manuel, Akah Nnani, Damilola Adegbite, Dorcas Shola Fapson                                 1
Petrônio Gontijo, Day Mesquita, Beth Goulart, Dalton Vigh, Eduardo Galvão, César Mello, Leonardo Franco, Raphael Viana, Otávio Martins                                         1
Prabhas, Shraddha Kapoor, Jackie Shroff, Chunky Pandey, Neil Nitin Mukesh, Arun Vijay, Vennela Kishore, Murli Sharma, Lal, Prakash Belawadi, Mahesh Manjrekar, Tinnu Anand     1
Laura Marano, Gregg Sulkin, Isabella Gomez, Johannah Newmarch, Lillian Doucet-Roche, Chanelle Peloso, Barclay Hope, Garfield Wilson                                            1
Name: count, Length: 5200, dtype: int64

In [6]:
df.columns

NameError: name 'df' is not defined

In [8]:
df1=pd.DataFrame({"id":[1,2,3,4],"name":["A","B","C","D"]})
df2=pd.DataFrame({"id":[1,2,3,4,5],"marks":[23,14,15,10,16]})

NameError: name 'pd' is not defined